<div class="row" style="background-color:#424242; padding-top:5%;">
  
  <div class="col-sm-4" style="padding-left:12%;">
  <h5>CONNECT WITH US</h5>
  <img src="/assets/google_icon.png">
  <img src="/assets/linkedin.png">
  <img src="/assets/facebook.png">
  <img src="/assets/twitter.png">
  <img src="/assets/insta_icon.png"><br><br>
  <h5>OUR SERVICES</h5>  
  <p>Recruitment</p>
  <p>Campus Selections</p>
  <p>Company Profiles</p>
  <p>Events</p>
  </div>

  <div class="col-sm-4" style="padding-top:8%">
    <h5>SITE LINKS</h5>
    <p>About Us</p>
    <p>Contact Us</p>    
    <p>Blog</p>
    <p>Press Release</p>
    <hr>
    
  </div>

  <div class="col-sm-4">
    <img src="/assets/logo_footer_white.png"><br>
    <h5>NEWS LETTER</h5>
    <p>{{sampletext1}}</p>
    <input type="email" placeholder="Your Email" style="width:90%; margin-bottom:2%;"><br>
    <button mat-button (click)="onClick">Subscribe</button>
  </div>

</div>