<div class="row" style="margin-top:5%">
  <div class="col-sm-1">

  </div>
  <div class="col-sm-2">
      <img src="assets/tcs_profile image.jpg" height="200px">
  </div>
  <div class="col-sm-6">
   <h4><strong>TATA</strong> CONSULTANCY SERVICES</h4>
   Objective:<p>{{text}}</p>  
  </div>
    <div class="col-sm-3">
        <h6>SOCIAL MEDIA LINKS</h6>
        <p><img src="/assets/facebook_icon.png">facebook.com/tataconsultancy</p>
        <p><img src="/assets/linkedin_icon.png">linkedin.com/tataconsultancy</p>
        <p><img src="/assets/twitter_icon.png">twitter.com/tataconsultancy</p>   
        <p><img src="/assets/youtube_icon.png">youtube.com/tataconsultancy</p>           
    </div>

</div>