<div class="row" style="margin-top:5%">

  <div class="col-sm-6" style="margin-left:8%">
    <h5>DESCRIPTION</h5><br>
    <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4><br>
    <p>Lorem Ipsum has been the industry's standard<p><br>
      <p>{{sampletext}}</p>
  </div>
  <div>
    DRIVES IN PROGRESS
    <table class="table">
      <thead>
        <tr>
          <th>DRIVE NAME</th>
          <th>EVENTS</th> 
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="/assets/drive_icon.png">Drive Name Here</td>
          <td>05</td>
          <td><img src="/assets/proceed_arrow.png"></td>
        </tr>
        <tr>
          <td><img src="/assets/drive_icon.png">Drive Name Here</td>
          <td>05</td>
          <td><img src="/assets/proceed_arrow.png"></td>
        </tr>
        <tr>
          <td><img src="/assets/drive_icon.png">Drive Name Here</td>
          <td>05</td>
          <td><img src="/assets/proceed_arrow.png"></td>
        </tr>
        <tr>
          <td><img src="/assets/drive_icon.png">Drive Name Here</td>
          <td>05</td>
          <td><img src="/assets/proceed_arrow.png"></td>
        </tr>
        <tr>
          <td><img src="/assets/drive_icon.png">Drive Name Here</td>
          <td>05</td>
          <td><img src="/assets/proceed_arrow.png"></td>
       </tr>
       <tr>
          <td><img src="/assets/drive_icon.png">Drive Name Here</td>
          <td>05</td>
          <td><img src="/assets/proceed_arrow.png"></td>
       </tr>
      </tbody>
      </table>
    </div>
  </div>