<div>
    <mat-toolbar>

      <div style="margin-left:15%">   
      <img src="/assets/logo_header_black.png">
      </div>
    
      <div>          
        <button mat-button (click)="onClick"><strong>MENU</strong></button>
        <button mat-button (click)="onClick"><strong>NAVIGATION</strong></button>
        <button mat-button (click)="onClick"><strong>MY PROFILE</strong></button>  
        <button mat-button (click)="onClick"><strong>MY ACCOUNT</strong></button>
        <img src="/assets/google_icon_enable.png" style="width:7%">
        <img src="/assets/linkedin_enable.png" style="width:7%">   
        <img src="/assets/facebook_enable.png" style="width:7%">   
        <img src="/assets/twitter_enable.png" style="width:7%">             
        <img src="/assets/insta_icon_enable.png" style="width:7%">                       
      </div>

    </mat-toolbar>
  </div>