<div class="row" style="background-color:gainsboro; margin-top:5%; border: 35px solid gainsboro;">

  <div class="col-sm-3">
  <h1>158</h1>Last year total no. of campus recruitment
  </div>

  <div class="col-sm-3" style="border-left:1px solid lightgrey;">
  <h1>28</h1>Last year No.of interns
  </div>

  <div class="col-sm-3" style="border-left:1px solid lightgrey;">
  <h1>125,000</h1>Highest salary offered to campus hire
  </div>

  <div class="col-sm-3" style="border-left:1px solid lightgrey;">
  <h1>250,000</h1>No. of Visits
  </div>

</div>