<div class="row">
    
      <div class="col-sm-8">
        <img src = "/assets/Screenshot from 2017-12-08 13:02:23.png">
    
      </div>
    
      <div class="col-sm-4" style="background-color:gainsboro;
      width: 300px;
      border: 25px solid gainsboro;">
      <h4>For More Information</h4>
      <h3><strong>Contact</strong></h3>
      <p>This Information is Private & Confidential</p>
      <p>so please provide your email id</p>
      <p style="background-color:white; width:375px; border:50px solid white; padding-left:10%;">
                       Enter Your Email Address<br><br><br>
      
      <button mat-button (click)="onClick" class="btn btn-info btn-block" style="background-color:orange">Get Contact Details</button>
      </p>
    </div>
    
    </div>