<div class="row" style="margin-top:5%">

  <div class="col-sm-3" style="margin-left:8%">
    <img src="/assets/organization_01.jpg"><br>
    ORGANISATION 1<img src="/assets/enter_icon.png">
  </div>

  <div class="col-sm-3" style="margin-left:3%">
    <img src="/assets/organization_02.jpg">
    ORGANISATION 2<img src="/assets/enter_icon.png">    
  </div>

  <div class="col-sm-3">
      <img src="/assets/organization_03.jpg" style="margin-left:8%">
      ORGANISATION 3<img src="/assets/enter_icon.png">      
    </div>
</div>